{% extends "app/layout_programa.html" %}

{% load staticfiles %}

{% block content %}

    <div class="row" style="height:auto; margin: 0 auto; margin-bottom:15px; background:#EEE;text-align:center">
        <div class="col-md-4"></div>
        <div class="col-md-1"><label for="filtro" class="control-label">Filtrar</label></div>
        <div class="col-md-2">
            <input  type="text" 
                    class="form-control form-control-sm" 
                    id="filtro" 
                    name="filtro" 
                    onInput="filtrar();">
        </div>

        <div class="col-md-2">
            <a href="/acceso/nuevousuario/" class="btn btn-info">Nuevo usuario</a>
        </div>

    </div>

    <div class="col-md-12" style="height:400px; margin: 0 auto; background:#EEE;">
        
        <div class="col-md-12" style="display:inline-block;">
            <div class="col-md-1"></div>
            <div class="col-md-2" style="text-align:center">Usuario</div>
            <div class="col-md-1" style="text-align:center">Clave</div>
            <div class="col-md-2" style="text-align:center">Correo</div>
            <div class="col-md-2" style="text-align:center">fecha_ultimo_acceso</div>
            <div class="col-md-2" style="text-align:center">hora_ultimo_acceso</div>
            <div class="col-md-1" style="text-align:center">intentos</div>
            <div class="col-md-1" style="text-align:center">Activo</div>
        </div>

        <div class="col-md-12" style="margin:0; padding:0" id="contenido"></div>

    </div>

</div>

{% endblock %}


{% block scripts %}

<script>

    usuariosjstxt = '{{usuariosjs|safe}}';
    const usuariosjson = JSON.parse(usuariosjstxt );

    $( document ).ready(function() {
        
        generartabla( usuariosjson );        
       
    });


    function generartabla( usuariosjson ){

            contenido = '';

            for (var i = 0; i < usuariosjson.length; i++) {

                contenido += '<div class="col-md-12" style="display:inline-block;">';

                    contenido += '<div class="col-md-1">';
                        contenido += '<a href="/acceso/editarusuario/' + usuariosjson[i].pk + '/" class="btn btn-info btn-sm">';
                            contenido += '<img src="{% static 'app/images/configuracion_24px.png' %}" alt="Soporte" style="width:12px" />';
                        contenido += '</a>';
                    contenido += '</div>';

                    contenido += '<div class="col-md-2" style="text-align:center;">[' + usuariosjson[i].pk + '] ' + usuariosjson[i].fields.usuario + '</div>';

                    contenido += '<div class="col-md-1" style="text-align:center">' + usuariosjson[i].fields.clave + '</div>';

                    contenido += '<div class="col-md-2" style="text-align:center">' + usuariosjson[i].fields.correo + '</div>';

                    contenido += '<div class="col-md-2" style="text-align:center">' + usuariosjson[i].fields.fecha_ultimo_acceso + ' </div>';

                    contenido += '<div class="col-md-2" style="text-align:center">' + usuariosjson[i].fields.hora_ultimo_acceso + '</div>';

                    contenido += '<div class="col-md-1" style="text-align:center">' + usuariosjson[i].fields.intentos + '</div>';

                    contenido += '<div class="col-md-1" style="text-align:center">' + usuariosjson[i].fields.activo + '</div>';

                contenido += '</div>';
                
            }

            $("#contenido").html(contenido);

        }


    function filtrar(){
            texto = $("#filtro").val();
            var usuarios_filter = usuariosjson.filter( function(element){
                    return element.fields.usuario.indexOf(texto) >= 0 || element.fields.correo.indexOf(texto) >= 0 || element.pk.toString().indexOf(texto) >= 0 || element.fields.activo.indexOf(texto) >= 0 
            });
            generartabla( usuarios_filter );
    }
   
</script>

{% endblock %}




<!--

        {% for row in usuarios %}

            <div class="col-md-12" style="display:inline-block;">

                <div class="col-md-1">
                    <button class="btn btn-success btn-sm" id="editar" name="Editar" onclick="editar({{ forloop.counter }});">
                        <img src="{% static 'app/images/configuracion_24px.png' %}" alt="Soporte" style="width:12px" />
                    </button>
                </div>

                <div class="col-md-2" style="text-align:left">[{{ row.id }}] {{ row.usuario }}</div>
                <div class="col-md-1" style="text-align:left">{{ row.clave }}</div>
                <div class="col-md-2" style="text-align:center">{{ row.correo }}</div>
                <div class="col-md-2">{{ row.fecha_ultimo_acceso }}</div>
                <div class="col-md-2" style="text-align:center">{{ row.hora_ultimo_acceso }}</div>
                <div class="col-md-1">{{ row.intentos }}</div>
                <div class="col-md-1" style="text-align:center">{{ row.activo }}</div>

            </div>
            
        {% endfor %}

        -->