<!DOCTYPE html>

<html>

<head>
    {% load staticfiles %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envios - {{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>

    <div class="jumbotron" style="padding:15px">
        <h3>Terminos y condiciones</h3>
    </div>

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div>
                <p>
                    Lorem ipsum...
                </p>
                <p>
                    Lorem ipsum...
                </p>
                <p>
                    Lorem ipsum...
                </p>
            </div>
        </div>
    </div>

</body>

</html>

   

    

    